@import url(minireset.css);

:root {
    font-family: 'Montserrat', sans-serif;
    --clr-gray1: #333;
    --clr-gray2: #4f4f4f;
    --clr-gray3: #828282;
    --clr-gray4: #bdbdbd;
    --clr-orange: #F2994A;

    --font-size-xxs: 0.5rem;
    --font-size-xs: 0.625rem;
    --font-size-s: 0.75rem;
    --font-size-m: 0.875rem;
    --font-size-l: 1rem;
    --font-size-xl: 1.125rem;
    --font-size-xxl: 1.5rem;
    --icon-size: 17px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px 0;
}

.wrapper {
    width: clamp(296px, 94%, 969px);
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

h1,
h2,
h3,
li::before {
    font-family: 'Playfair Display', serif;
}

/* header */

header {
    padding: 12px 0;
}

h1 {
    font-size: var(--font-size-xxl);
    padding: 0.1em 0;
}

.subtitle {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 12px;
    margin: 1em 0;
}

.subtitle p {
    font-weight: 500;
    font-size: var(--font-size-s);
    line-height: 120%;
    color: var(--clr-gray2);
    max-width: 64ch;
}

.hero {
    display: block;
    border-radius: 12px;
    margin: 1.5em 0;
}

/* main */ 

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* card */

.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--clr-gray1);
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 400px;
}

.card-item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3px;
    align-items: center;
    justify-content: start;
}

.material-icons-outlined {
    color: var(--clr-gray2);
    font-size: var(--icon-size);
    grid-row: span 2;
}

.accent {
    grid-column: span 3; 
}

.orange {
    color: var(--clr-orange);
}

.card-title {
    color: var(--clr-gray4);
    font-size: var(--font-size-xxs);
    font-weight: 700;
}

/* text */

h2 {
    color: var(--clr-gray1);
    font-size: var(--font-size-xl);
    line-height: 133%;
    margin-bottom: 30px;
}

h2:last-of-type {
    margin-top: 30px;
    font-size: 1.5rem;
}

h3 {
    font-size: var(--font-size-l);
    line-height: 24px;
    color: var(--clr-gray1);
    margin: 30px 0;
}

label {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
    align-items: start;
    line-height: 25px;
}

input[type="checkbox"] {
    width: 21px;
    height: 21px;
}

ol {
    list-style: none;
    counter-reset: my-counter;
}

li {
    counter-increment: my-counter;
    line-height: 24px;
    margin: 30px 0;
    display: grid;
    grid-template-columns: 36px auto;
    gap: 15px;
}

li::before {
    content: counter(my-counter);
    display: block;
    background: var(--clr-orange);
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 32px;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    text-align: center;
}

.attribution {
    font-size: var(--font-size-s);
    line-height: 150%;
    color: var(--clr-gray4);
    margin-bottom: 30px;
}

/* footer */

footer {
    margin-top: auto;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--clr-gray3);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--clr-orange);
}

@media screen and (min-width: 768px) {

    :root {
        --font-size-xxs: 0.625rem;
        --font-size-xs: 0.875rem;
        --font-size-s: 0.875rem;
        --font-size-m: 1rem;
        --font-size-l: 1.125rem;
        --font-size-xl: 1.5rem;
        --font-size-xxl: 3rem;
        --icon-size: 34px;
    }

    main {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero {
        margin: 2.5em 0;
    }

    .text {
        flex: 0 0 60%;
    }

    .card {
        grid-template-columns: none;
        flex: 0 0 25%;
        max-height: 367px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        place-content: center;
        gap: 40px;
    }

    .card-item {
        column-gap: 14px;
    }

    .accent {
        grid-column: auto;
    }

    .attribution {
        font-size: var(--font-size-m);
    }

}